{{ define "main" }}
  <div class="workshop" id="page-content">
    <div class="reveal-header">
      <a href="?view=slides" class="toggle-view hidden-in-slides">View as Slides</a>
      <div class="hi-icon"></div>
    </div>

    <div class="slides limited-width" id="slides-container">
      <section style="background-image: url({{ .Page.Params.cover | relURL }});">
        <div class="presentation-title" {{ if isset .Page.Params "background" }} style="background-color: {{.Page.Params.background}};"{{ end }}>
            <h1>{{ .Page.Params.title }}</h1>
            <div class="presenter">
              <div>{{ .Page.Params.author }}</div>
              {{ if isset .Page.Params "author_position" }}<div>{{ .Page.Params.author_position }}</div>{{ end }}
              <div>{{ .Page.Params.date | time.Format "Jan 2, 2006" }}</div>
            </div>
            <img class="hidden-in-page" src="{{ "img/RZ_211119_Helmholtz-Imaging_Logo_4C_White.png" | relURL }}" height="90vh"/>
            <aside class="notes">
              {{.Page.Params.description | markdownify}}
            </aside>
        </div>
      </section>
      {{ partial "sections_with_toc.html" . }}
    </div>

    <div class="reveal-footer">
      <span>2024</span> | <span><b>HELMHOLTZ IMAGING</b></span><span><span><a class="hidden-in-page" href="?view=scroll"><strong>Exit slides</strong></a></span></span>
    </div>
  </div>
{{ end }}

