body {
  font-family: sans-serif;
}

a {
    color: #e1462c;
}
a:hover {
    color: #ff8777;
}

h1, h2, h3 {
    font-family: 'Urbanist', sans-serif;
}

.solution-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.solution-metadata {
  margin-top: 15px;
  padding-left: 20px;
}

.reveal-header {
    z-index:100;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    padding-top: 20px;
    display: flex;
}

.reveal-header img {
    margin: 0 0px 0 60px;
}
.reveal-footer {
  position: absolute;
  bottom:  20px;
  right: 120px;
  font-size: 25px;
  padding: 5px;
}

.reveal-footer span {
    margin: 0 20px;
}

.toggle-view {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.15s ease;
    font-size: 30px;
    font-family: "Urbanist";
    text-align: right;
    float: right;
    padding: 10px 10px;
}

.hidden-in-page {
    display: none;
}

.reveal .toggle-button {
    display: none;
}

hr {
    border: none;
}