body {
  font-family: sans-serif;
  line-height: 1.5;
  background: #ededef;
}

a {
    color: #e1462c;
    text-decoration: none;
}

a:hover {
    color: #ff8777;
}

ul, ol {
    margin-right: 20px;
}

li {
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Urbanist', sans-serif;
}

.solution-box {
  margin-bottom: 20px;
  padding: 15px;
  align-self: stretch;
}

.toggle-button, .close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.solution-metadata {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.reveal .solution-metadata {
    position: relative;
    background: none;
    align-items: flex-begin;
    justify-content: flex-begin;
}

.solution-details {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 1000px;
}

.reveal .solution-details {
    background: none;
    box-shadow: none;
    padding: 0;
    max-width: none;
    margin: 0;
}
.reveal .solution-details h3 {
    margin: 10px 0 50px 0;
}

.reveal-header {
    z-index:100;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    padding-top: 40px;
    display: flex;
}

h3 {
    color: #0059a0;
}

.reveal-header img {
    margin: 0 0px 0 60px;
}
.reveal .reveal-footer {
  position: absolute;
  bottom:  1.5em;
  right: 120px;
  font-size: 25px;
  padding: 5px;
  z-index: 100;
}

.reveal-footer span {
    margin: 0 20px;
}

.toggle-view {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.15s ease;
    font-size: 25px;
    font-family: "Urbanist";
    text-align: right;
    padding: 10px 10px;
    display: block;
}

.scroll .hidden-in-page {
    display: none;
}

.reveal .hidden-in-slides {
    display: none;
}

.reveal .toggle-button, .reveal .close-button {
    display: none;
}

.reveal .preview {
    display: none;
}

.reveal .solution-metadata {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 22pt;
}

.reveal .solution-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.reveal .solution-metadata .info, .reveal .solution-metadata .usage {
    margin-top: 20px;
}

.reveal .solution-box {
    font-size: 22pt;
}

hr { flex-basis: 100%; height: 0; margin: 0; border: none; }

.citations {
    color: #222224;
}

.solutions section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

.solution-box {
    display: flex;
    margin: 10px;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    align-items: flex-start;
    background: rgba(0,0,0,0.03);
}
.solution .solution-box {
    width: 420px;
    height: 300px;
}

.solution-box:hover {
    background: rgba(0,0,0,0.05);
}

.reveal .solution-box {
    width: 100%;
    height: auto;
    margin: 0;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: default;
}

.reveal .solution-box .description {
    max-width: 1000px;
}

section.solution .solution-box .preview {
    flex: 1;
}

.catalog-usage {
    display: flex;
    flex-direction: column;
}

.reveal .subtitle {
    font-size: 80%;
    font-weight: bold;
}

.flex {
    flex: 1;
}

.person-bio {
    display: flex;
    flex: 1;
    align-self: stretch;
}

.reveal .person-bio {
    justify-content: center;
    align-items: flex-start;
}

.person-bio .person-img {
    border: 2px solid #0059a0;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.person-bio .name {
    color: #0059a0;
}

.reveal .person-bio .name {
    font-size: 30px;
}

.reveal .person-bio .position {
    font-size: 25px;
}

.reveal .citations {
    max-width: 1000px;
}

.reveal .citations ul {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.reveal .citations ul li {
    background: black;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
}
.reveal .citations a {
    color: white;
}

.reveal .cover {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0;
    right: 0;
    flex: 1;
    align-self: stretch;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

section .horizontal {
    display: flex;
}

.horizontal > * {
    flex: 1;
}

.scroll {
    display: flex;
    flex-direction: column;
}

.workshop.scroll .slides {
    max-width: 1200px;
    align-self: center;
}

.scroll h1 {
    font-size: 3em;
}

.scroll .presentation-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px
}

.scroll .presenter {
    border-top: 1px solid #e1e1e3;
    display: flex;
    justify-self: flex-start;
    padding-top: 20px;
    opacity: 0.6;
}

.scroll .presenter > * {
    margin-right: 20px;
}

.workshop .scroll section:nth-of-type(2) {
  background-color: #f3f3f3;
  color: #333;
  padding: 20px;
  margin-top: 20px;
}

.workshop .scroll section:nth-of-type(2) a {
    text-decoration: none;
}

.scroll .person-bio .person-img {
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 50px;
}

.scroll .person-bio .person-img img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.notes {
    margin: 30px 0;
}

.scroll img {
    max-height: 500px;
    max-width: 100%;
}

.reveal .logos {
    height: 150px;
}

.scroll .logos {
    height: 70px;
}

.logos img {
    height: 100%;
}

.scroll .cover {
    height: 500px;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -19px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}

.scroll .cover .citations ul {
    margin: 0 -20px -20px -20px;
    padding: 0;
    list-style: none;
}

.scroll .cover .citations li {
    background: white;
    padding: 5px;
    margin-bottom: 0px;
}

.scroll .cover .citations li a {
    background: white;
    text-decoration: none;
}

.scroll h2 {

}
.scroll section {
    background: #fdfdff;
    padding: 20px;
    margin-bottom: 10px;
}

.scroll .repeated-heading {
    margin-top: -9px;
}

.scroll .repeated-heading h2 {
    display: none;
}

.center {
    text-align: center;
    align-self: stretch;
}

.scroll .notes li {
}