<a class="solution-box" href="https://album.solutions/guide?catalog_url=https://gitlab.com/album-app/catalogs/image-challenges&catalog_name=image-challenges&group={{.group}}&name={{.name}}&version={{.version}}">
  {{- $solutionCover := printf "%s/-/raw/%s-%s-%s/solutions/%s/%s/%s" .catalogUrl .group .name .version .group .name (index (index .covers 0) "source") -}}
  <div class="preview">
    <h3>{{.title}}</h3>
    <div class="subtitle"><code>{{ .group }}:{{ .name }}:{{ .version }}</code></div>
    <p class="description">{{ .description }}<br/>
        <!-- Tags -->
        {{ if .tags }}
          <span>Tags: {{ delimit .tags ", " }}</span>
        {{ end }}</p>
  </div>
  <div class="solution-cover" style="background-image:url({{$solutionCover}});"></div>
  <!-- Metadata (Initially Hidden) -->
  <div id="metadata-{{ .name | urlize }}" class="solution-metadata">
    <div class="solution-details">
      <div class="close-button" onclick="toggleMetadata('{{ .name | urlize }}')">Close solution</div>
      <h3>{{.title}}</h3>
      <div class="subtitle"><code>{{ .group }}:{{ .name }}:{{ .version }}</code></div>
      <p class="description">{{ .description }}<br/>
          <!-- Tags -->
          {{ if .tags }}
            <span>Tags: {{ delimit .tags ", " }}</span>
      {{ end }}</p>
      <ul class="info">
        {{ if .doi }}
          <li><strong>DOI:</strong> {{ .doi }}</li>
        {{ end }}
        {{ if .license }}
        <li><strong>License:</strong> {{ .license }}</li>
        {{ end }}
        {{ if .authors }}
        <li><strong>Solution creator(s):</strong> {{ delimit .authors ", " }}</li>
        {{ end }}
      </ul>
      <div class="usage">
        <strong>Usage:</strong>
        <pre><code class="language-python">album install {{ .group }}:{{ .name }}:{{ .version }}
album run {{ .group }}:{{ .name }}:{{ .version }}{{ if .arguments }}{{ range .arguments }}
    --{{ .name }} # ({{ .type }}): {{ .description }} [Default: {{ .default_value }}] [Required: {{ if .required }}Yes{{ else }}No{{ end }}]{{ end }}{{ end }}</code></pre>
      </div>
      <div class="citations">
        {{ if .citations }}
          <p>Cite the following resources if you use this solution:</p>
          <ul>
            {{ range .citations }}
              <li><a href="{{ .url }}">{{ .text }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
</a>
